.imgPersonaje{
    height: 250px;
}
h1{
   text-align: center;
}
.contenedorImagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}
.pregunta {
    display: flex;
   /* background-color: blanchedalmond;*/
    padding: 5px;
}
.contenedorPreguntas{
    width: 600px;
    margin: auto;
    background-color: #021755;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.ico{
    height: 25px;
}
.imgp{
    position: relative;
    margin-top: -20px;
    height: 200px;
}
.divRespuesta {
    margin: 5px;
}
.divPregunta {
    margin: 5px;
}
.resultadosPuntaje{
    width: 600px;
    margin: auto;
    background-color: #021755;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

body {
    background-color: white;
}
.contenedorPreguntas input {
    display: inherit;
    margin-bottom: 4%;
    border: none;
    background: transparent;
    border-bottom: 3px solid black; 
    outline: none;
}
.contenedorPreguntas input:focus {
    transition: 0.2s;
    border-bottom: 3px solid #00A7EE; 
}
input {
    border-top: none;
    font-size: 20px;
    color: white;
}
.btnJugar {
    background-color: transparent;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 64px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    outline: none;
}
.btnJugar:hover {
    background-color: #00A7EE;
    border: 3px solid #00A7EE;
    color: white;
}
select {
    background-color: transparent;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 105px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    outline: none;
}
select:hover {
    background-color: #00A7EE;
    border: 3px solid #00A7EE;
    color: white;
}
#btnRespuesta {
    background-color: transparent;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 154px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    outline: none;
}
#btnRespuesta:hover {
    background-color: #00A7EE;
    border: 3px solid #00A7EE;
    color: white;
}
label, h1, button, p, a {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
}
a{
    color: #00A7EE;
}
a:hover{
    color: #021755;
}
